<div class="custom-button">
  <a href="#">
    <span class="custom-button-text">Shop the look</span>
  </a>
</div>

<style>
.custom-button {
  outline: 1px solid #F4F1E9;
  padding: 15px 40px;
  background: white;
}
.custom-button-text {
  text-transform: uppercase;
  font-size: 12px;
}  
</style>