<div class="instagram-feed">
    <h6>{{ section.settings.heading }}</h6>
    <div class="richtext">
        {{ section.settings.rich_text }}
    </div>
    
    <div class="glide addon-carousel">
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
            {% for block in section.blocks %}
                <div class="glide__slide">
                    <div class="instagramslide">
                        <img src="{{ block.settings.image.src | img_url: "300x" }}" alt="instagram feed">
                        <div class="instagram-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_5_751)">
                                <path d="M18 0H6.00034C2.70072 0 0.000488281 2.70023 0.000488281 5.99985V18.0001C0.000488281 21.2989 2.70072 24 6.00034 24H18C21.2997 24 23.9999 21.2989 23.9999 18.0001V5.99985C23.9999 2.70023 21.2997 0 18 0ZM21.9999 18.0001C21.9999 20.2051 20.2062 22 18 22H6.00034C3.7951 22 2.00054 20.2051 2.00054 18.0001V5.99985C2.00054 3.79432 3.7951 2.00005 6.00034 2.00005H18C20.2062 2.00005 21.9999 3.79432 21.9999 5.99985V18.0001Z" fill="white"/>
                                <path d="M18.5009 6.99968C19.3293 6.99968 20.0009 6.32813 20.0009 5.49972C20.0009 4.67131 19.3293 3.99976 18.5009 3.99976C17.6725 3.99976 17.001 4.67131 17.001 5.49972C17.001 6.32813 17.6725 6.99968 18.5009 6.99968Z" fill="white"/>
                                <path d="M11.9999 5.99976C8.68552 5.99976 6 8.68557 6 11.9996C6 15.3124 8.68552 18 11.9999 18C15.3132 18 17.9997 15.3124 17.9997 11.9996C17.9997 8.68557 15.3132 5.99976 11.9999 5.99976ZM11.9999 16C9.79098 16 8.00005 14.2091 8.00005 11.9996C8.00005 9.79015 9.79098 7.9998 11.9999 7.9998C14.2087 7.9998 15.9997 9.79015 15.9997 11.9996C15.9997 14.2091 14.2087 16 11.9999 16Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_5_751">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                            </defs>
                            </svg>
                        </div>
                        <div class="instagram-handle">
                            @{{ block.settings.instahandle }}
                        </div>
                    </div>              
                </div>
            {% endfor %}
            </div>
        
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/>
                </svg>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
                </svg>
                </button>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Instagram Feed",
      "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Seen on you"
        },
        {
            "type": "richtext",
            "id": "rich_text",
            "label": "Text",
            "default": "<p>Join the family on instagram @dogeared and share the love!</p>"
        }
      ],
      "blocks": [
        {
          "type": "slide",
          "name": "Slide",
          "settings": [
            {
              "type": "text",
              "id": "instahandle",
              "label": "Handle",
              "default": "dogeared"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Instagram Feed",
          "category": "Feed"
        }
      ]
    }
{% endschema %}